body {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  height: 100vh;
  align-content: flex-start;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

place-holder {
  height: 40vh;
  width: 160px;
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 100px; */
  /* flex:1 1 auto */
}

.content {
  flex-grow: 1;
  width: 60%;
  margin-left: 32px;
}

footer {
  align-self: flex-end;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 6vw;
}

li {
  all: initial;
  list-style: none;

}

.footer-button {
  width: 10vw;
  height: 6vh;
  margin-bottom: 2vh;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 29vw;
  padding-left: 1vw;
}

option {
  padding: 0;
  writing-mode: horizontal-tb;
}

#page_size {
  width: 30vw;
}