datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 29vw;
    padding-left: 1vw;
}

input#page_size {
    width: 30vw;
}

input[type="radio"] {
    zoom: 150%;
}

option {
    padding: 0;
    writing-mode: horizontal-tb;
}

.item {
    flex-grow: 1;
}

ul,li {
    all: initial;
    list-style: none;
}

footer {
    display: flex;
    justify-content: right;
}

/* .setting_item {
    min-height: 60px;
    display: flex;
    padding-right: 60px;
    align-items: center;
} */

.footer-button {

    flex-basis: 10vw;
    margin: 2vw;
}