body {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  height: 100vh;
  /* align-content: flex-start; */
}

place-holder {
  height: 45vh;
  width: 160px;
  flex-grow: 1;
  flex-shrink: 0;
  /* flex-basis: 100px; */
  /* flex:1 1 auto */
}

.content {
  flex-grow: 1;
  width: 60%;
  margin: 0px 16px;
}



li {
  all: initial;
  list-style: none;
}

#footer{
  width: 60%;
  display: flex;
  place-content: flex-end;
  gap: 16px;
  height: 32px;
  justify-items: center;
  align-items: flex-start;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 20vw;
}

option {
  padding: 0;
  writing-mode: horizontal-tb;
  font-size: smaller;
}

#page_size {
  width: 20vw;
  margin: 0;
  height: 6px;
}