input.tab,
.content {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 60px;
  width: 180px;
  padding: 0px;
  line-height: 60px;
  color: #747474;
  font: normal 1em/150% Sans-Serif;
  background: #f5f5f5;
  transition: background .25s linear;
}

/* .tab:hover, */
.tab:checked+.tab {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}

#tab-basic:checked~.tab-basic,
#tab-skin:checked~.tab-skin,
#tab-symbol:checked~.tab-symbol,
#tab-keybindings:checked~.tab-keybindings,
#tab-other:checked~.tab-other {
  display: block;
}

