datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 29vw;
    padding-left: 1vw;
}

input[type="range"] {
    width: 30vw;
}

option {
    padding: 0;
    writing-mode: horizontal-tb;
}

input[type="radio"] {
    zoom: 150%;
}

.description {
    flex-grow: 1;
}

.setting_item {
    min-height: 60px;
    display: flex;
    padding-right: 60px;
    align-items: center;
}