/* Custom layout */
.custom-layout .react-colorful {
  padding: 18px;
  border-radius: 18px;
  background: #33333a;
  box-shadow: 0 6px 12px #999;
}

.custom-layout .react-colorful__saturation {
  border-radius: 5px;
  border-bottom: none;
}

.custom-layout .react-colorful__hue,
.custom-layout .react-colorful__alpha {
  height: 8px;
  margin-top: 10px;
  margin-bottom: -4px;
  border-radius: 5px;
}

.custom-layout .react-colorful__hue-pointer,
.custom-layout .react-colorful__alpha-pointer {
  width: 20px;
  height: 20px;
}
