# schema.custom.yaml
# template of Soak
customization:
  distribution_code_name: Weasel
  distribution_version: 0.14.3_dev_0.8
  generator: "Rime::SwitcherSettings"
  modified_time: "Tue Jan 24 23:32:25 2023"
  rime_version: 1.7.3
patch:
  punctuator/half_shape:
    # "/" : "/"
    "[" : "["
    "]" : "]"
    "{" : "「"
    "}" : "」"
    "=" : "="
    "~" : "~"
    "(" : "("
    ")" : ")"
  speller/algebra/+:
    - derive/^([hmn]).+$/$1/