
# weasel.custom.yaml
# template of Soak
customization:
  distribution_code_name: Weasel
  distribution_version: 0.14.3_dev_0.8
  generator: "Rime::SwitcherSettings"
  modified_time: "Thu Feb 02 2023 17:08:12 GMT+0800 (中国标准时间)"
  rime_version: 1.7.3
patch:
  style/horizontal: true
  style/inline_preedit: true
